h1 {
    color:navy;
}

.todo-list {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid orangered; */
  }


.todo {
    border: 3px dotted navy;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
  }
  
  .todo.completed {
    border: 3px solid magenta;
    text-decoration: line-through;
  }

  form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  form > input {
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: white;
    border-bottom: 1px solid navy;
    margin-right: 8px;
  }